
<div class="bg-all">
    <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card shadow">
              <div class="card-title text-center border-bottom">
                <h2 class="p-3" style="color: #666;">Registro de la plataforma</h2>
              </div>
              <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="signUp()">
                  <div class="mb-4">
                    <label for="username" class="form-label">Email</label>
                    <input type="text" class="form-control" autocomplete="off" formControlName="email">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input [type]="showPassword ? 'text' : 'password' "
                    formControlName="password" class="form-control" autocomplete="off">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input [type]="showPassword ? 'text' : 'password' "
                    formControlName="password_repeat" class="form-control" autocomplete="off">
                  </div>

                  <ng-container *ngIf="form.controls.password.dirty">
                    <app-error-message
                      [control]="form.controls.password"
                    ></app-error-message>
                    <div class="invalid-feedback" style="color: red;">Las contraseñas no coinciden.</div>
                    <div *ngIf="form.controls.password.pending">Validando password</div>
                  </ng-container>

                  <!-- <span *ngIf="f.password.errors && f.password.touched"> 
                    <div *ngIf="f.password.errors.required">
                      <span style="color: red;"> Las contraseñas no coinciden </span>
                    </div>
                  </span> -->



                  <div class="alert alert-danger" *ngIf="form.hasError('passwordMismatch')">
                    Las contraseñas no coinciden.
                  </div>

                  
          
                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Registrar</button>
                  </div>
                  <div class="d-grid mt-4">
                    <button type="button" class="btn btn-info" (click)="goSignIn()"> Volver a inicio de sesión</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
